---
layout: default
---

<table>
    {% for row in site.data.timeline %}
        {% if forloop.first %}
        <tr>
        {% for pair in row %}
            {% assign key = pair[0] %}
            <th>{{ key }}</th>
        {% endfor %}
        </tr>
        {% endif %}

        {% tablerow pair in row %}
            {% assign key = pair[0] %}
            {% assign value = pair[1] %}
            {% if key == "Checkbox" and value == "Yes" %}
                <input type="checkbox" class="task-list-item-checkbox" disabled="disabled" checked="checked">
            {% elsif key == "Checkbox" and value == "No" %}
                <input type="checkbox" class="task-list-item-checkbox" disabled="disabled">
            {% else %}
                {{ value }}
            {% endif %}
        {% endtablerow %}
    {% endfor %}
</table>
